<%include ../common/include_header.html%>

<!--head_img抽取出来-->
<%include include_head_img.html%>

    <section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">


                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">



                        <table class="table table-hover table-bordered" style="margin-right: 50px;margin-left: 10px;text-align:center">
                            <%include include_menu.html%>
                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-9 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">中赣设计</span>
                        </div>


                        <h3 class="ab_right_title font_size_12" >
                        <span >您的位置：<a href="http://localhost:3000" class="a_little_tip">首页</a> > <a class="a_little_tip">公司介绍</a>
                        </span>
                        </h3>


                        <p style="text-indent:2em;">
                            <span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span></span>
                        </p>
                        <p style="text-indent:2em;">
                            <span style="font-family:宋体;"><span style="font-family:'font-size:14px;"><span style="font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">中赣工程设计有限公司（简称中赣设计）成立于2017年6月，是一家集工程设计、工程勘察、项目管理、工程技术咨询服务、城乡规划等工程服务为一体的综合性企业。具有城乡规划乙级、建筑行业建筑工程）乙级、市政行业（给水工程、排水工程、道路工程、桥梁工程业乙级、风景园林工程设计专项乙级、公路行业（公路）专业丙级、水利行业丙级、农林行业农业综合开发生态工程业乙级设计资质、工程勘察专业类岩土工程、工程测量、水文地质勘察）乙级；业务范围涵盖了各类工业、公共和民用建筑设计、小区规划、工程地质测量勘察、工程概预算编制、绿建、抗震鉴定、城市亮化设计及建筑、岩工程、规划、公路、水利、市政公用工程、工程项目管理相关技术咨询等多个方面。</span> </span></span></span>
                        </p>
                        <p>
                            <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span>
                        </p>
                        <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">中赣设计自成立以来，始终专注如一，并和国内许多著名设计公司保持着良好的合作关系，致力于向社会提供高品质的设计服务，在行业中享有极高声誉，铸就了中赣设计的设计品牌。中赣设计服务的客户广阔，包含国家和地方各级党政机关和事业单位，国家和地方国有企业，民营企业，外资和合资企业等，设计的价值体现于客户项目的成功，设计作品遍及全国各地。</span><span style="font-family:Microsoft YaHei;font-size:14px;"><br />
                        <br />
                        <p>
                            <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span>
                        </p>
                        <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">中赣设计拥有宽敞的办公场所，先进的技术装备及现代化办公设备，构建了内部网络管理系统，信息实时共享。注重吸取现代经营理念及培养团队协作精神，组建了一支请练业务、功底扎实的专业技术队伍。现有职工100余人，其中注册人员15人高级工程师25人工程师41人。</span><span style="font-family:Microsoft YaHei;font-size:14px;"><br />
                        <br />
                        <p>
                            <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span>
                        </p>
                        <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">中赣设计一直坚持诚信为先，品质为本的经营发展理念，贯遵循“精益创造价值，精品引领未来的企业宗旨和真诚的服务。中赣人相信，在广大合作伙伴的支持下，在每个中赣人的努力下中赣设计必将迎来更好的明天！</span><span style="font-family:Microsoft YaHei;font-size:14px;"><br />
                        <br />
                        <p>
                            <br />
                        </p>
                        <p style="text-indent:24pt;">
                            <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:'font-size:10.5pt;"></span>
                        </p>
                        <p style="text-indent:24pt;" align="center">
                            <img src="web/images/blog/ghyj.jpg" alt="" style="max-width: 90%"/>&nbsp;
                        </p>
                        <p style="text-indent:24pt;" align="center">
                            <img src="web/images/blog/kcyj.jpg" alt="" style="max-width: 90%"/>&nbsp;
                        </p>
                        <p>
                            <br />
                        </p></p>



                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->



<%include ../common/include_footer.html%>

<!--jquery修改首页导航样式-->
<script>
    $("#company").addClass("active");
</script>