<%include ../common/include_header.html%>

<%include include_head_img.html%>

<section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">


                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">



                        <table class="table table-hover table-bordered" style="margin-right: 50px;margin-left: 10px;text-align:center">
                            <%include include_menu.html%>
                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-9 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">中赣设计</span>
                        </div>


                        <h3 class="ab_right_title font_size_12" >
                        <span >您的位置：<a href="http://localhost:3000" class="a_little_tip">首页</a> > <a class="a_little_tip">组织架构</a>
                        </span>
                        </h3>

                        <p>
                        <p style="text-indent:2em;">
                            <span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span></span>
                        </p>
                        <p style="text-indent:2em;">
                            <span style="font-family:宋体;"><span style="font-family:'font-size:14px;"><span style="font-family:'Microsoft YaHei';"><span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">中赣设计拥有宽敞的办公场所，先进的技术装备及现代化办公设备，构建了内部网络管理系统，信息实时共享。注重吸取现代经营理念及培养团队协作精神，组建了一支谙练业务、功底扎实的专业技术队伍。现有职工80余人，其中注册人员10人，高级工程师15人，工程师26人。</span> </span></span></span>
                        </p>
                        <p>
                            <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp;</span>
                        </p>
                        <p>
                            <br />
                        </p>
                        <p style="text-indent:24pt;">
                            <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:'font-size:10.5pt;"></span>
                        </p>
                        <p style="text-indent:24pt;" align="center">
                            <img src="web/images/blog/organize1.jpg" alt="" style="max-width: 90%"/>&nbsp;
                        </p>
                        <p>
                            <br />
                        </p></p>



                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->









<%include ../common/include_footer.html%>

<!--jquery修改首页导航样式-->
<script>
    $("#company").addClass("active");
</script>