<%include ../common/include_header.html%>

<%include include_head_img.html%>

<section id="feature" >
        <div class="container">
            <div class="row">
                <div class="features">


                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">



                        <table class="table table-hover table-bordered" style="margin-right: 50px;margin-left: 10px;text-align:center">
                            <%include include_menu.html%>
                        </table>


                    </div><!--/.col-md-4-->

                    <div class="col-md-9 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">

                        <div class="left wow fadeInDown">
                            <span style="font-size: large;">中赣设计</span>
                        </div>

                        <h3 class="ab_right_title font_size_12" >
                        <span >您的位置：<a href="http://localhost:3000" class="a_little_tip">首页</a> > <a class="a_little_tip">中赣历程</a>
                        </span>
                        </h3>

                        <p>
                        <p style="text-indent:2em;">
                            <span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;"><span style="font-family:Microsoft YaHei;font-size:14px;">&nbsp;</span></span></span>
                        </p>
                        <span style="font-family:'Microsoft YaHei';font-size:14px;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="font-family:'Microsoft YaHei';font-size:14px;">中赣设计一直坚持“诚信为先，品质为本”的经营发展理念，一贯遵循“精益创造价值，精品引领未来”的企业宗旨和真诚的服务。中赣人相信，在广大合作伙伴的支持下，在每个中赣人的努力下，中赣设计必将迎来更好的明天！</span><span style="font-family:Microsoft YaHei;font-size:14px;"><br />
                        <br />
                        <p style="text-indent:24pt;">
                            <span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:Microsoft YaHei;font-size:14px;"></span><span style="font-family:'font-size:10.5pt;"></span>
                        </p>
                        <p style="text-indent:24pt;" align="center">
                            <img src="web/images/blog/ywqy.jpg" alt="" style="max-width: 90%"/>&nbsp;
                        </p>
                        <p>
                            <br />
                        </p></p>



                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->







<%include ../common/include_footer.html%>

<!--jquery修改首页导航样式-->
<script>
    $("#company").addClass("active");
</script>