<%include ../common/include_header.html%>

<!-- about us slider -->
<div id="about-slider">
  <div id="carousel-slider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators visible-xs">
      <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-slider" data-slide-to="1"></li>
      <li data-target="#carousel-slider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img
          src="http://localhost:3000/web/images/index3.jpg"
          class="img-responsive"
          alt=""
          style="min-height: 200px"
        />
      </div>
      <div class="item">
        <img
          src="http://localhost:3000/web/images/index4.jpg"
          class="img-responsive"
          alt=""
          style="min-height: 200px"
        />
      </div>
      <div class="item">
        <img
          src="http://localhost:3000/web/images/index5.jpg"
          class="img-responsive"
          alt=""
          style="min-height: 200px"
        />
      </div>
    </div>

    <a
      class="left carousel-control hidden-xs"
      href="#carousel-slider"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>

    <a
      class="right carousel-control hidden-xs"
      href="#carousel-slider"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <!--/#carousel-slider-->
</div>
<!--/#about-slider-->

<section id="feature">
  <div class="home-page clearfix">
    <div class="col-4">
      <div>
        <div class="cellitem">
          <div class="picture">
            <img alt="中赣工程设计有限公司" src="/web/images/home_us.jpg" />
          </div>
          <h2 class="c-heading">公司简介</h2>
          <div class="paragraph">
            了解企业基本信息和行业荣誉以及企业社会价值观。
          </div>
          <a class="btnto" href="/company_intro" target="_blank">
            <span class="iconfont">更多公司简介</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <div class="cellitem">
          <div class="picture">
            <img alt="Tenda" src="/web/images/home_news.jpg" />
          </div>
          <h2 class="c-heading">企业新闻</h2>
          <div class="paragraph">
            关注有关公司的头条新闻和各项企业活动进展。
          </div>
          <a class="btnto" href="" target="_blank">
            <span class="iconfont">分享我们的最新事件></span></a
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <div class="cellitem" data-href="/aboutus/contact.html">
          <div class="picture">
            <img alt="Tenda" src="/web/images/home_hr.jpg" />
          </div>
          <h2 class="c-heading">人力资源</h2>
          <div class="paragraph">
            我们时刻准备着为你提供帮助和技术支持，请联系我们 。
          </div>
          <a class="btnto" href="/" target="_blank"
            ><span class="iconfont">更多</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/#feature-->

<section id="services" class="service-item">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2>中诚有为，赣匠有道</h2>
      <p class="lead">精益创造价值　精品引领未来</p>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--/#services-->

<%include ../common/include_footer.html%>
<script
  type="text/javascript"
  src="http://localhost:3000/web/layui/layui.js"
></script>
<!--jquery修改首页导航样式-->
<script>
  //一般直接写在一个js文件中
  layui.use(["layer", "form"], function () {
    var layer = layui.layer,
      $ = layui.jquery;

    //页面初始化的时候执行
    $(function () {
      $("#main").addClass("active");
      getNews();
      getRecruits();
      getQuits();
    });

    //从后台获取数据函数，获取6条新闻数据
    function getNews() {
      $.get("web/get_news", function (result) {
        //拼接html内容
        var tabContent = "";
        //获取后台json数据
        var mydata = result.datas;
        for (var i = 0; i < mydata.length; i++) {
          var tempStr =
            "<tr id=" +
            mydata[i]._id +
            ">" +
            /*序号分页后也必须得变动,每页十条数据*/
            "<td>" +
            (i + 1) +
            '、 <a href="/news_detail/' +
            mydata[i]._id +
            '" class="a_color">' +
            mydata[i].title +
            '</a><span class="pull-right">' +
            mydata[i].time +
            "</span></td>" +
            "</tr>";
          tabContent = tabContent + tempStr;
        }
        //将拼接好的数据填入#tabContent中
        $("#tabContent").html(tabContent);
      });
    }

    //从后台获取数据函数，获取三条招聘信息
    function getRecruits() {
      $.get("web/get_recruits", function (result) {
        //拼接html内容
        var tabContent = "";
        //获取后台json数据
        var mydata = result.datas;
        for (var i = 0; i < mydata.length; i++) {
          var tempStr =
            "<tr id=" +
            mydata[i]._id +
            ">" +
            /*序号分页后也必须得变动,每页十条数据*/
            "<td>" +
            (i + 1) +
            "、职位：" +
            mydata[i].position +
            '<span class="pull-right">' +
            mydata[i].department +
            "</span></td>" +
            "</tr>";
          tabContent = tabContent + tempStr;
        }
        //将拼接好的数据填入#tabContent中
        $("#tabContent_recruit").html(tabContent);
      });
    }

    //从后台获取数据函数，获取离职公示信息
    function getQuits() {
      $.get("web/get_quits", function (result) {
        //拼接html内容
        var tabContent = "";
        //获取后台json数据
        var mydata = result.datas;
        for (var i = 0; i < mydata.length; i++) {
          var tempStr =
            "<tr id=" +
            mydata[i]._id +
            ">" +
            /*序号分页后也必须得变动,每页十条数据*/
            "<td>" +
            (i + 1) +
            "、姓名：" +
            mydata[i].name +
            '<span class="pull-right">' +
            mydata[i].department +
            "</span></td>" +
            "</tr>";
          tabContent = tabContent + tempStr;
        }
        //将拼接好的数据填入#tabContent中
        $("#tabContent_quit").html(tabContent);
      });
    }
  });
</script>
